#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Entornos virtuales
venv/
.venv/

#Archivos de dependencias
*.egg-info/
dist/
build/

#Archivos de VS code
.vscode/

#Archivos de sistema
.DS_Store
Thumbs.db

#¿Esto aparecerá?